{% load static %}
<html lang="en">
<meta charset="utf-8">
<head>

</head>
   <div id="sidebar"></div>
   <img src={%  static 'mtnBackground.png' %} width="100%">
    <img src="{% static 'title.png'%}" style="position: absolute; left: 0px; top: 5%" width="100%" align="center">
   <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/collabstyle.css' %}" rel="stylesheet">
    <link href="{% static 'jquery-ui-1.11.1/jquery-ui.css' %}" rel="stylesheet">
    <link href="{% static 'jquery-ui-1.11.1/jquery-ui.structure.min.css' %}" rel="stylesheet">
    <link href="{% static 'jquery-ui-1.11.1/jquery-ui.theme.min.css' %}" rel="stylesheet">
    <title>{% block title_block %}{% endblock %} </title>
</head>
<body>
{% block body_block %}{% endblock %}
<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'jquery-ui-1.11.1/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/collab-scripts.js' %}"></script>
</body>
</html>