{% extends 'CollabCheckout/base.html'%}
{% load static %}
{% block body_block %}
<h1>Welcome to the Collaboration Studio Checkout Hub</h1>
   <p>To check out a room, fill out the form below and then accept the calendar invite. Unavailable times and rooms are indicated by <strong>--</strong>. <br>
   If you decline the invite you are sent or take more than 24 hours to respond, the room will be freed for others to use. <br>
    If you accept an invite and realize that you not longer need the room, send an email to <a href="mailto:iitsupport@kentdenver.org">iitsupport@kentdenver.org</a>.</p>  
   <div id="wrap">  
  <form id="myForm" align="right">
  <p>Email: <input type="text" name="email">@kentdenver.org</p>
  <p id="DateName">Date: <input type="text" value="" id="datepicker" name="date"/></p>
  <p id= "PeriodsName">Period: <select name ="Periods" id="Periods" >
   <option selected="true" value="empty" selected>None Selected</option>
   <option value="0" selected>--</option> 
   <option value="1" selected>--</option>  
   <option value="2" selected>--</option>  
   <option value="3" selected>--</option>  
   <option value="4" selected>--</option>  
   <option value="5" selected>--</option>  
   <option value="6" selected>--</option>  
   <option value="7" selected>--</option>  
   <option value="8" selected>--</option>
   <option value="9" selected>--</option>
   <option value="10" selected>--</option>
   <option value="11" selected>--</option>
   </select></p>
  <p id= "RoomsName">Room: <select name ="Rooms" id="Rooms">
  <option selected="true" value="empty" selected>None Selected</option> 
   <option value="1" selected>--</option>  
   <option value="2" selected>--</option>  
   <option value="3" selected>--</option>  
   <option value="4" selected>--</option>  
   <option value="5" selected>--</option>  
   <option value="6" selected>--</option>  
   <option value="7" selected>--</option> 
   <option value="8" selected>--</option>
   <!--<option value="9" selected>--</option>
   <option value="10" selected>--</option>
   <option value="11" selected>--</option>
   -->
   </select></p>
  <input id ="CheckoutButton" type='button' value="Checkout" name="checkout">
   </form>
   </div>
{% endblock %}