{% load static %}

<html>
<title>
Class Calendars
</title>
<head>
    <link rel="stylesheet" href="{% static "css/stylesheet.css" %}" />
    <link rel="shortcut icon" href="{% static 'kentdenver.png' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
<script src = "scrips.js">
</script>
</head>
<body>


<div class = "name">
<i>Kent Denver</i>
</div>

<div class = "header">
Class Calendar Sign-Up
</div>

<div class = "contact">
Google Calendars<br>
Alex Clement <br>
aclement@kentdenver.org
</div>

<div class = "top">
</div>

<div class = "list">
    <div style = "position: absolute; left: 23%">
        Class
    </div>
    <div style = "position: absolute; left: 42%">
        Teacher
    </div>
    <div style = "position: absolute; left: 70%">
        Calendar ID
    </div>
</div>

<div class = "vt">
</div>


{% block body_block %}
{% endblock %}

<img src = "{%  static 'mtnBackground.png' %}" style = "position: absolute; top: 0px; width: 100%; height: 32%; z-index: -2">

<script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
<script src="{% static "js/studentsite-ajax,js.js" %}"></script>
</body>
</html>

