{% extends 'studentsite/base.html' %}
{% load static %}
{% block body_block %}

<div class = "label" class="period1div">
	<div>
        <select class = "border" style = "left: 6%" id="period1class">
        {% for item in period_1_cals %}
            <option value = "{{ item.class_title }}">{{ item.class_title }}</option>
        {% endfor %}
        </select>
	</div>

	<div style = "position: absolute; left: 25%;" id="period1tdiv">
		<div class = "border" >
		</div>
	</div>

	<div style = "position: absolute; left: 40%; " id="period1calid">
		<div class = "border" style = "left: 50px; width: 500px;">
		</div>
	</div>

    <div class = "period">
        Period 1
    </div>
</div>

<div class = "label" class="period2div" style = "top: 51%">
	<div>
        <select class = "border" style = "left: 6%" id="period2class">
        {% for item in period_2_cals %}
            <option value = "{{ item.class_title }}">{{ item.class_title }}</option>
        {% endfor %}
        </select>
	</div>

	<div style = "position: absolute; left: 25%;" id="period2tdiv">
		<div class = "border" >
		</div>
	</div>

	<div style = "position: absolute; left: 40%; " id="period2calid">
		<div class = "border" style = "left: 50px; width: 500px;">
		</div>
	</div>
<div class = "period" style = "top: 8%;">
        Period 2
    </div>
</div>

<div class = "label" class="period3div" style = "top: 59%">
	<div>
        <select class = "border" style = "left: 6%" id="period3class">
        {% for item in period_3_cals %}
            <option value = "{{ item.class_title }}">{{ item.class_title }}</option>
        {% endfor %}
        </select>
	</div>

	<div style = "position: absolute; left: 25%;" id="period3tdiv">
		<div class = "border" >
		</div>
	</div>

	<div style = "position: absolute; left: 40%; " id="period3calid">
		<div class = "border" style = "left: 50px; width: 500px;">
		</div>
	</div>
<div class = "period" style = "top: 16%;">
        Period 3
    </div>
</div>

	<div class = "label" class="period4div" style = "top: 67%">
	<div>
        <select class = "border" style = "left: 6%" id="period4class">
        {% for item in period_4_cals %}
            <option value = "{{ item.class_title }}">{{ item.class_title }}</option>
        {% endfor %}
        </select>
	</div>

	<div style = "position: absolute; left: 25%;" id="period4tdiv">
		<div class = "border" >
		</div>
	</div>

	<div style = "position: absolute; left: 40%; " id="period4calid">
		<div class = "border" style = "left: 50px; width: 500px;">
		</div>
	</div>
    <div class = "period" style = "top: 24%;">
        Period 4
    </div>
</div>

<div class = "label" class="period5div" style = "top: 75%">
	<div>
        <select class = "border" style = "left: 6%" id="period5class">
        {% for item in period_5_cals %}
            <option value = "{{ item.class_title }}">{{ item.class_title }}</option>
        {% endfor %}
        </select>
	</div>

	<div style = "position: absolute; left: 25%;" id="period5tdiv">
		<div class = "border" >
		</div>
	</div>

	<div style = "position: absolute; left: 40%; " id="period5calid">
		<div class = "border" style = "left: 50px; width: 500px;">
		</div>
	</div>
<div class = "period" style = "top: 32%;">
        Period 5
    </div>
</div>

<div class = "label" class="period6div" style = "top: 83%">
	<div>
        <select class = "border" style = "left: 6%" id="period6class">
        {% for item in period_6_cals %}
            <option value = "{{ item.class_title }}">{{ item.class_title }}</option>
        {% endfor %}
        </select>
	</div>

	<div style = "position: absolute; left: 25%;" id="period6tdiv">
		<div class = "border" >
		</div>
	</div>

	<div style = "position: absolute; left: 40%; " id="period6calid">
		<div class = "border" style = "left: 50px; width: 500px;">
		</div>
	</div>
<div class = "period" style = "top: 40%;">
        Period 6
    </div>
</div>

<div class = "label" class="period7div" style = "top: 91%">
	<div>
        <select class = "border" style = "left: 6%" id="period7class">
        {% for item in period_7_cals %}
            <option value = "{{ item.class_title }}">{{ item.class_title }}</option>
        {% endfor %}
        </select>
	</div>

	<div style = "position: absolute; left: 25%;" id="period7tdiv">
		<div class = "border" >
		</div>
	</div>

	<div style = "position: absolute; left: 40%; " id="period7calid">
		<div class = "border" style = "left: 50px; width: 500px;">
		</div>
	</div>
<div class = "period" style = "top: 58%;">
        Period 7
    </div>
</div>
{% endblock %}

