{% load static %}

<html>
<title>
Class Calendars
</title>
<head>
    <link rel="stylesheet" href="{% static "css/stylesheet.css" %}" />
    <link rel="shortcut icon" href="{% static 'kentdenver.png' %}">
<script>
</script>
</head>
<body>

<div class = "hz">
</div>

<div class = "vt">
</div>


<div class = "name">
<i>Kent Denver</i>
</div>

<div class = "header">
Class Calendar Sign-Up
</div>

<div class = "contact">
Google Calendars<br>
Alex Clement <br>
aclement@kentdenver.org
</div>

<div class = "top">
</div>

<div class = "period">
Period 1 <br><br>
Period 2 <br><br>
Period 3 <br><br>
Period 4 <br><br>
Period 5 <br><br>
Period 6 <br><br>
Period 7 <br><br>
</div>

<div class = "label" class="period1div">
	<div style = "position: absolute; top: 10px">
	Class:
        <select class = "border" style = "left: 75px" id="period1class">
        {% for item in period_1_cals %}
            <option value = "{{ item.class_title }}">{{ item.class_title }}</option>
        {% endfor %}
        </select>
	</div>

	<div style = "position: absolute; top: 10px; left: 320px;" id="period1tdiv">
    Teacher:
		<div class = "border" style = "left: 100px;">
		</div>
	</div>

	<div style = "position: absolute; top: 10px; left: 670px;" id="period1calid">
	ID:
		<div class = "border" style = "left: 50px;">
		</div>
	</div>
</div>

<div class = "label">
	<div style = "position: absolute; top: 80px">
	Class:
		 <select class = "border" style = "left: 75px" id="period2class">
        {% for item in period_2_cals %}
            <option value = "{{ item.class_title }}">{{ item.class_title }}</option>
        {% endfor %}
        </select>
	</div>

	<div style = "position: absolute; top: 80px; left: 320px;" id="period2tdiv">
	Teacher:
		<div class = "border" style = "left: 100px;">
		</div>
	</div>

	<div style = "position: absolute; top: 80px; left: 670px;" id="period2calid">
	ID:
		<div class = "border" style = "left: 50px;">
		</div>
	</div>
</div>

<div class = "label">
	<div style = "position: absolute; top: 150px">
	Class:
		 <select class = "border" style = "left: 75px" id="period3class">
        {% for item in period_3_cals %}
            <option value = "{{ item.class_title }}">{{ item.class_title }}</option>
        {% endfor %}
        </select>
	</div>

	<div style = "position: absolute; top: 150px; left: 320px;" id="period3tdiv">
	Teacher:
		<div class = "border" style = "left: 100px;">
		</div>
	</div>

	<div style = "position: absolute; top: 150px; left: 670px;" id="period3calid">
	ID:
		<div class = "border" style = "left: 50px;">
		</div>
	</div>
</div>

<div class = "label">
	<div style = "position: absolute; top: 220px" >
	Class:
		 <select class = "border" style = "left: 75px" id="period4class">
        {% for item in period_4_cals %}
            <option value = "{{ item.class_title }}">{{ item.class_title }}</option>
        {% endfor %}
        </select>
	</div>

	<div style = "position: absolute; top: 220px; left: 320px;" id="period4tdiv">
	Teacher:
		<div class = "border" style = "left: 100px;">
		</div>
	</div>

	<div style = "position: absolute; top: 220px; left: 670px;" id="period4calid">
	ID:
		<div class = "border" style = "left: 50px;">
		</div>
	</div>
</div>

<div class = "label">
	<div style = "position: absolute; top: 290px">
	Class:
		 <select class = "border" style = "left: 75px" id="period5class">
        {% for item in period_5_cals %}
            <option value = "{{ item.class_title }}">{{ item.class_title }}</option>
        {% endfor %}
        </select>
	</div>

	<div style = "position: absolute; top: 290px; left: 320px;" id="period5tdiv">
	Teacher:
		<div class = "border" style = "left: 100px;">
		</div>
	</div>

	<div style = "position: absolute; top: 290px; left: 670px;" id="period5calid">
	ID:
		<div class = "border" style = "left: 50px;">
		</div>
	</div>
</div>

<div class = "label">
	<div style = "position: absolute; top: 360px">
	Class:
		 <select class = "border" style = "left: 75px" id="period6class">
        {% for item in period_6_cals %}
            <option value = "{{ item.class_title }}">{{ item.class_title }}</option>
        {% endfor %}
        </select>
	</div>

	<div style = "position: absolute; top: 360px; left: 320px;" id="period6tdiv">
	Teacher:
		<div class = "border" style = "left: 100px;">
		</div>
	</div>

	<div style = "position: absolute; top: 360px; left: 670px;" id="period6calid">
	ID:
		<div class = "border" style = "left: 50px;">
		</div>
	</div>
</div>

<div class = "label">
	<div style = "position: absolute; top: 430px">
	Class:
		 <select class = "border" style = "left: 75px" id="period7class">
        {% for item in period_7_cals %}
            <option value = "{{ item.class_title }}">{{ item.class_title }}</option>
        {% endfor %}
        </select>
	</div>

	<div style = "position: absolute; top: 430px; left: 320px;" id="period7tdiv">
	Teacher:
		<div class = "border" style = "left: 100px">
        </div>
	</div>

	<div style = "position: absolute; top: 430px; left: 670px;" id="period7calid">
	ID:
		<div class = "border" style = "left: 50px;">
		</div>
	</div>
</div>

<img src = "{%  static 'mtnBackground.png' %}" style = "position: absolute; top: 0px; left: 5px; width: 1270px; height: 250px; z-index: -2">

<script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
<script src="{% static "js/studentsite-ajax,js.js" %}"></script>
</body>
</html>

