{% load static %}

<html>
<title>
Class Calendars - Other Calendars
</title>
<head>
    <link rel="stylesheet" href="{% static "css/stylesheet.css" %}" />
    <link rel="shortcut icon" href="{% static 'kentdenver.png' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" media="screen">
</head>
<body>


<div class = "name">
<i>Kent Denver</i>
</div>

<div class = "header">
Class Calendar Sign-Up
</div>

<div class = "contact">
Google Calendars<br>
Alex Clement <br>
aclement@kentdenver.org <br>
<small><i>Design By: </i> Jarrek Holmes</small>
</div>

<div class = "top">
</div>

 <nav class="navbar navbar-inverse" role="navigation" style = "position: absolute;
height: 52px;
width: 90%;
left: 5%;
top: 28%;
border-radius: 200px;
background-color: #990000">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="https://www.kentdenver.org" style = "position: absolute; left: 80%">Kent Denver</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/studentsite/">Upper School</a></li>
        <li><a href="/studentsite/ms_page/">Middle School</a></li>
        <li><a href = "/studentsite/sixth_page/"> Sixth Grade </a></li>
        <li class = "active"><a  class = "active"href="/studentsite/other_calendars/">Extra Calendars</a></li>
      </ul>
    </div>
  </div>
 </nav>

<img src = "{%  static 'mtnBackground.png' %}" style = "position: absolute; top: 0px; width: 100%; height: 32%; z-index: -2">

<div class="helptext" style = "position: absolute; top: 38%; left: 20%; text-align: center;">
    <p><strong>Add these calendars (or any other calendar on this site) to your Google Calendar! <br>Copy the ID and paste it into the "Other Calendars" field on your Google Calendar page, then press Enter.</strong></p>

</div>

<div class = "label" class="othercaldiv">
	<div>
        <select class ="border" style = "left: 6%" id="otherdropdown">
                 <option value=""></option>
        {% for item in other_cals %}
            <option value = "{{ item.class_title }}">{{ item.class_title }}</option>
        {% endfor %}
        </select>
	</div>

	<div style = "position: absolute; left: 33%;" id="othercalid">
		<div class = "border" style = "width: 500px;">
		</div>
	</div>
</div>

<script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
<script src="{% static "js/studentsite-ajax.js" %}"></script
</body>
</html>