{% load static %}

<html>
<title>
Class Calendars - Sixth Grade
</title>
<head>
    <link rel="stylesheet" href="{% static "css/stylesheet.css" %}" />
    <link rel="shortcut icon" href="{% static 'kentdenver.png' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" media="screen">
</head>
<body>


<div class = "name">
<i>Kent Denver</i>
</div>

<div class = "header">
Class Calendar Sign-Up
</div>

<div class = "contact">
Google Calendars<br>
Alex Clement <br>
aclement@kentdenver.org <br>
<small><i>Design By: </i> Jarrek Holmes</small>
</div>

<div class = "top">
</div>

 <nav class="navbar navbar-inverse" role="navigation" style = "position: absolute;
height: 52px;
width: 90%;
left: 5%;
top: 28%;
border-radius: 200px;
background-color: #990000">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="https://www.kentdenver.org" style = "position: absolute; left: 80%">Kent Denver</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/studentsite/">Upper School</a></li>
        <li><a href="/studentsite/ms_page">Middle School</a></li>
        <li  class = "active"><a href = "/studentsite/sixth_page"> Sixth Grade </a></li>
        <li><a href="/studentsite/other_calendars">Other Calendars</a></li>
      </ul>
    </div>
  </div>
 </nav>

<img src = "{%  static 'mtnBackground.png' %}" style = "position: absolute; top: 0px; width: 100%; height: 32%; z-index: -2">



<div class="helptext">
    BLAH
</div>


<div class = "period" style = "left: 71%; top : 42%; font-size: 18px;">
Calendar ID:
    </div>



<div class = "label" class="homeroomdiv" style = "top: 38%">
    <div style = "position: absolute; top: 5.5%; left: 10%; color: black; font-size: 18px;">
       Teacher:
    </div>
	<div>
       <select class="border" style = "position: absolute; left: 6%; top: 10%;" id="homeroom">
        <option value = ""></option>
        {% for item in homeroom %}
            <option value = "{{ item.teacher_name }}">{{ item.teacher_name }}</option>
        {% endfor %}
    </select>
	</div>
	<div style = "position: absolute; left: 40%; top: 10%; " id="homeroomcalid">
		<div class = "border" style = "left: 50px; width: 500px;">
		</div>
	</div>

    <div class = "period" style = "left: -5%;">
        Homeroom
    </div>
</div>


<div class = "label" class="classesdiv" style = "top: 52%">
    <div style = "position: absolute; top: 6.5%; left: 0%; color: black; font-size: 18px;">
       Science:
    </div>
	<div>

    <select class="border" style = "position: absolute; left: -2%; top: 10%;" id="scienceclass">
        <option value = ""></option>
        {% for item in science %}
            <option value = "{{ item.period }}">{{ item.period }}</option>
        {% endfor %}
    </select>


        <div style = "position: absolute; top: 6.5%; left: 25%; color: black; font-size: 18px;">
       Teacher:
       </div>
       <div class="border" style = "position: absolute; left: 21%; top: 10%;" id="sciencetdiv">
    </div>
	</div>
	<div style = "position: absolute; left: 40%; top: 10%; " id="sciencecalid">
		<div class = "border" style = "left: 50px; width: 500px;">
		</div>
	</div>

    <div style = "position: absolute; top: 14.5%; left: 0%; color: black; font-size: 18px;">
       Math:
    </div>

    <select class="border" style = "position: absolute; left: -2%; top: 18%;" id="mathclass">
        <option value = ""></option>
        {% for item in math %}
            <option value = "{{ item.period }}">{{ item.period }}</option>
        {% endfor %}
    </select>

    <div style = "position: absolute; top: 14.5%; left: 25%; color: black; font-size: 18px;">
       Teacher:
    </div>
       <div style = "position: absolute; left: 21%; top: 18%;" id="mathtdiv">
           <div class="border" >
    </div>
	</div>
	<div style = "position: absolute; left: 40%; top: 18%; " id="mathcalid">
		<div class = "border" style = "left: 50px; width: 500px;">
		</div>
	</div>

    <div style = "position: absolute; top: 22%; left: -0%; color: black; font-size: 18px;">
       Language Arts:
    </div>

    <select class="border" style = "position: absolute; left: -2%; top: 26%;" id="langartsclass">
        <option value = ""></option>
        {% for item in langarts %}
            <option value = "{{ item.period }}">{{ item.period }}</option>
        {% endfor %}
    </select>

    <div style = "position: absolute; top: 22%; left: 25%; color: black; font-size: 18px;">
       Teacher:
    </div>

       <div style = "position: absolute; left: 21%; top: 26%;" id="langartstdiv">
            <div class="border" >
    </div>
	</div>
	<div style = "position: absolute; left: 40%; top: 26%; " id="langartscalid">
		<div class = "border" style = "left: 50px; width: 500px;">
		</div>
	</div>

    <div style = "position: absolute; top: 30%; left: -0%; color: black; font-size: 18px;">
       Social Studies:
    </div>

    <select class="border" style = "position: absolute; left: -2%; top: 34%;" id="socstudclass">
        <option value = ""></option>
        {% for item in socstud %}
            <option value = "{{ item.period }}">{{ item.period }}</option>
        {% endfor %}
    </select>

    <div style = "position: absolute; top: 30%; left: 25%; color: black; font-size: 18px;">
       Teacher:
    </div>
	
       <div style = "position: absolute; left: 21%; top: 34%;" id="socstudtdiv">
            <div class="border" >
    </div>
	</div>
	<div style = "position: absolute; left: 40%; top: 34%; " id="socstudcalid">
		<div class = "border" style = "left: 50px; width: 500px;">
		</div>
	</div>

    <div class = "period" style = "left: -5%;">
        Classes
    </div>
</div>


<div class = "label" class="rotationdiv" style = "top: 91%">
    <div style = "position: absolute; top: 6%; left: 8.5%; color: black; font-size: 18px;">
       Number (1 - 4):
    </div>
	<div>
       <select class="border" style = "position: absolute; left: 6%; top: 10%;" id="rotation">
        <option value = ""></option>
        {% for item in rotation %}
            <option value = "{{ item }}">{{ item }}</option>
        {% endfor %}
    </select>
	</div>
	<div style = "position: absolute; left: 40%; top: 10%; " id="rotationcalid">
		<div class = "border" style = "left: 50px; width: 500px;">
		</div>
	</div>

    <div class = "period" style = "left: -5%;">
        Rotation
    </div>
</div>

<div class = "label" class="electivesdiv" style = "top: 106%">
<div style = "position: absolute; top: 6%; left: 8.5%; color: black; font-size: 18px;">
       Year Long:
    </div>
	<div>
       <select class="border" style = "position: absolute; left: 6%; top: 10%;" id="electivesyear">
        <option value = ""></option>
        {% for item in electivesyear %}
            <option value = "{{ item.class_title }}">{{ item.class_title }}</option>
        {% endfor %}
    </select>
	</div>
	<div style = "position: absolute; left: 40%; top: 10%; " id="electivesyearcalid">
		<div class = "border" style = "left: 50px; width: 500px;">
		</div>
	</div>

    <div style = "position: absolute; top: 14.5%; left: 8.5%; color: black; font-size: 18px;">
       Semester 1:
    </div>
	<div>
       <select class="border" style = "position: absolute; left: 6%; top: 18%;" id="electivesS1">
        <option value = ""></option>
        {% for item in electivesS1 %}
            <option value = "{{ item.class_title }}">{{ item.class_title }}</option>
        {% endfor %}
    </select>
	</div>
	<div style = "position: absolute; left: 40%; top: 18%; " id="electivesS1calid">
		<div class = "border" style = "left: 50px; width: 500px;">
		</div>
	</div>

    <div style = "position: absolute; top: 22.5%; left: 8.5%; color: black; font-size: 18px;">
       Semester 2:
    </div>
<div>
       <select class="border" style = "position: absolute; left: 6%; top: 26%;" id="electivesS2">
        <option value = ""></option>
        {% for item in electivesS2 %}
            <option value = "{{ item.class_title }}">{{ item.class_title }}</option>
        {% endfor %}
    </select>
	</div>
	<div style = "position: absolute; left: 40%; top: 26%; " id="electivesS2calid">
		<div class = "border" style = "left: 50px; width: 500px;">
		</div>
	</div>

    <div class = "period" style = "left: -5%;">
        Electives
    </div>
</div>






<script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
<script src="{% static "js/studentsite-ajax.js" %}"></script>
</body>
</html>

